<% layout('/layouts/boilerplate') %>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow-lg p-4 rounded-4">
        <div class="text-center mb-4">
          <img src="<%= user.profileImage %>" 
               alt="Profile Picture" 
               class="rounded-circle" 
               width="150" height="150">
        </div>

        <h3 class="text-center mb-3"><%= user.username %></h3>
        
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <strong>Email:</strong> <%= user.email %>
          </li>
          <li class="list-group-item">
            <strong>Phone:</strong> 
            <%= user.phone ? user.phone : "Not added yet" %>
          </li>
        </ul>

        <div class="d-grid mt-4">
          <a href="/profile/edit" class="btn btn-primary">Edit Profile</a>
        </div>
      </div>
    </div>
  </div>
</div>
