<!DOCTYPE html>
<html>
<head>
  <title>Shipping Policy</title>
</head>
<body>
  <h1>Shipping Policy</h1>
  <p>Since BhramanSetu provides hotel booking services, shipping is not applicable.</p>
  <p>All booking confirmations will be shared digitally on website it self.</p>
</body>
</html>
